<template>
    <div class="container-fluid">
        <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" alt="" class="img-fluid">
        <div class="row">
            <div class="col-6">
                <button v-on:click="cupSelected" style="focus:true;" class="btn btn-outline-dark"> <small>COPA MX</small></button>
            </div>
            <div class="col-6">
                <button v-on:click="ascSelected" class="btn btn-outline-dark"><small>ASCENSOMX</small></button>
            </div>
        </div>
        <div class="div mx-n5">
            <div v-for="gameF in filteredGames" class="mt-5 mx-auto">                
                <div class="bg-paviment my-2 text-left" style="background-color: navy;">
                    
                    <h4 class="py-2 ml-4 text-success">{{gameF.month}}</h4>
                    
                </div>
               
                <div class="row py-4 mx-auto bg-field text-light"  v-for="g in gameF.games" >
                    <div class="col-3">
                        <h4><calendar-month-icon/></h4>
                        <h4>{{g.date.date()}} </h4>
                        <h4>{{days[g.date.day()]}}</h4>     
                        <small>{{g.league}}</small>                  
                    </div>
                    <div class="col-3">
                        <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" width="50px" >
                        <hr>
                        <b>Venados F.C.</b>
                    </div>
                    <div class="col-3 my-auto">
                       <h5> {{g.home_score}}-{{g.away_score}}</h5>
                    </div>
                    <div class="col-3">
                        <img :src="g.opponent_image" alt="" width="50px">
                        <hr>
                        <b :style="g.opponent.split(' ').length==1? 'word-wrap: break-word;' : ''" >{{g.opponent}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    import VenadosService from '../services/venados.service';

    const venadosService = new VenadosService();

    export default {
        name: 'Games',
        data() {
            return {
                games: [],
                filteredGames: [],
                days: [ 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb', 'Dom' ],
                months: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
                cup: false,
                orderedByMonth: []
            };
        },
        async created() {
            await this.Load();
        },
        methods: {
            async Load() {
                const gamesAux = await venadosService.Games();
                for (const game of gamesAux.data.games) {
                    game.date = new moment(game.datetime);
                    this.games.push(game);
                }
                const minDate = moment.min(...this.games.map(g => g.date));
                const maxDate = moment.max(...this.games.map(g => g.date));

                let ii = 0;
                while ((Math.ceil(maxDate.diff(minDate, 'months', true)) - ii) > -1) {
                    const auxDate = new moment(minDate);
                    const minD = auxDate.startOf('month');

                    this.orderedByMonth.push({
                        month: this.months[ minD.month() + ii ],
                        games: this.games.filter(g => g.date.month() == (minD.month() + ii))
                    });
                    ii++;
                }
                this.filterGames();
            },

            filterGames() {
                this.filteredGames = [];
                for (const month of this.orderedByMonth) {
                    if (this.cup)
                        this.filteredGames.push({
                            month: month.month,
                            games: month.games.filter(game => game.league == "Copa MX" || game.league == "CopaMX")
                        });

                    else this.filteredGames.push({
                        month: month.month,
                        games: month.games.filter(game => game.league != "Copa MX")
                    });
                }
                return this.filteredGames;
            },
            cupSelected() {
                this.cup = true;
                this.filterGames();
            },
            ascSelected() {
                this.cup = false;
                this.filterGames();
            }
        }
    }
</script>

<style lang="scss">
.bg-field {
    background-color: green;
    background-image: url(https://us.123rf.com/450wm/dimarik16/dimarik161702/dimarik16170200120/71736547-green-textured-background-green-cover-of-poker-table-poker-table-close-up-green-texture-closeup-.jpg?ver=6);
}
.bg-paviment {
    background-color: gray;
    background-image: url(https://image.shutterstock.com/image-vector/abstract-black-texture-background-hexagon-260nw-712223524.jpg);
}
</style>