<template>
    <div class="container-scroller">
        <div class="mx-n4">
            <b-navbar toggleable="lg" type="dark" variant="info" class="d-lg-none">
                <b-navbar-brand href="/">DaCodes</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item href="#">
                        <div class="card border-primary soccer-field-bg">
                            <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" 
                            alt="Venados F.C." class="card-img-top ">
                            <div class="mt-n3 card-body text-primary">
                                <h5 class="card-title"> {{user.name}} </h5>
                                <p class="card-text text-dark"> {{user.email}} </p>
                            </div>
                        </div>
                    </b-nav-item>
                        <router-link class="text-dark nav-link" :to="{name:'games'}" >
                            <span class="h3"><soccer-icon/></span>
                            <span class="ml-2 h3">Games</span>
                        </router-link>
                    <b-nav-item>
                    </b-nav-item>
                        <router-link class="nav-link" :to="{name:'stats'}" >
                            <span class="h3"><counter-icon/></span>
                            <span class="ml-2 h3">Estadísticas</span>
                        </router-link>
                    <b-nav-item>
                    </b-nav-item>
                        <router-link class="nav-link" :to="{name:'team'}" >
                            <span class="h3"><account-group-icon/></span>
                            <span class="ml-2 h3">Jugadores</span>
                        </router-link>
                    <b-nav-item>

                    </b-nav-item>
                </b-navbar-nav>

                </b-collapse>
            </b-navbar>
        </div>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-0 d-none d-lg-block col-lg-3">
                    <nav class="nav flex-column" variant="info">
                        <div class="nav-bg">
                            <div class="card title-nav-bg border-primary ml-n4" style="width: 18rem;">
                                <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" 
                                alt="venados shield" class="card-img-top img-round">
                                <div class="mt-2 card-body text-primary">
                                    <h5 class="card-title"> {{user.name}} </h5>
                                    <p class="card-text text-dark"> {{user.email}} </p>
                                </div>
                            </div>
                            <div class="mt-4 text-left">
                                <router-link class="nav-link" :to="{name:'games'}" >
                                    <span class="h3"><soccer-icon/></span>
                                    <span class="ml-2 h3">Juegos</span>
                                </router-link>

                            </div>
                            <div class="mt-4 text-left">
                                <router-link class="nav-link" :to="{name:'stats'}" >
                                    <span class="h3"><counter-icon/></span>
                                    <span class="ml-2 h3">Estadísticas</span>
                                </router-link>

                            </div>
                            <div class="mt-4 text-left">
                                <router-link class="nav-link" :to="{name:'team'}" >
                                    <span class="h3"><account-group-icon/></span>
                                    <span class="ml-2 h3">Jugadores</span>
                                </router-link>

                            </div>
                             
                        </div>
                        
                    </nav>
                </div>

                <div class="col-12 col-lg-9 mb-5">

                    <router-view :key="$route.fullPath"/>
    
                </div>

            </div>
        </div>

        <footer class="footer text-left">
            <hr>
            <div class="container-fluid clearfix">
                <span class="text-muted float-none d-block mt-1 mt-sm-0 text-left">applying: aaron_madera</span>
            </div>
        </footer>
    </div>
</template>

<script>

    export default {
        name: "Layout",
        data() {
            return {
                user: {},
            };
        },
        async created() {
            this.Load();
        }
        ,
        methods: {
            async Load() {
                this.user = this.newUser();
                //this.$router.push({ name: 'games' });
            },
            newUser() {
                return global.config.user;
            }
        }
    }
</script>

<style lang="scss">
.soccer-field-bg {
    background-color: green;
    background-image: url(http://imag.futbolia.com/articulos/principal/medidas-oficiales-de-los-campos-de-futbol-segun-fifa.jpg);
}

.nav-bg {
    border-right-width: 20px;
    border-right-color: navy;
}

.img-round {
    border-radius: 50%;
}
</style>