<template>
    <div class="container-fluid"> 
        <div class="mx-n4">
            <div class="my-2">
               <div class="row bg-paviment px-2 py-3 my-auto mb-1 text-light ">
                   <div class="col-6 text-left"> <h5 class="ml-md-5">Tabla General</h5></div>
                   <div class="col-2 "><h5>JJ</h5></div>
                   <div class="col-2"><h5>DG</h5></div>
                   <div class="col-2"><h5>PTS</h5></div>
                </div>                     
               <div class="row bg-field text-light my-2">
                   <div class="col-6 text-left"> 
                       <div class="row">
                           <div class="col-5">
                               <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10732/10732.png" width="80px" >
                           </div>
                           <div class="col-7 my-auto mx-auto text-center">
                                <h4 class="ml-2">Venados F.C.</h4>
                           </div>
                       </div>
                   </div>
                   <div class="col-2 my-auto"><h4>2</h4></div>
                   <div class="col-2 my-auto"><h4>5</h4></div>
                   <div class="col-2 my-auto"><h4>6</h4></div>
                </div>     
                
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Stats',
        data() {
            return {

            };
        },
        created() { },
        methods: {

        }
    }
</script>

<style lang="scss">
.bg-field {
    background-color: green;
    background-image: url(https://us.123rf.com/450wm/dimarik16/dimarik161702/dimarik16170200120/71736547-green-textured-background-green-cover-of-poker-table-poker-table-close-up-green-texture-closeup-.jpg?ver=6);
}

.bg-paviment {
    background-color: gray;
    background-image: url(https://i.pinimg.com/originals/b8/c0/30/b8c030136bde5a1e4f89ef6b4bbaf3ea.jpg);
}
</style>