<template>
    <div class="container-fluid">
        <div class="row text-center"><h1>Jugadores</h1></div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3" v-for="player in players">
                <div class="card border-success soccer-field-bg my-2" v-on:click="getPlayer(player.image)">
                    <img :src="player.image" 
                    alt="Venados F.C." class="card-img-top ">
                    <div class="mt-n3 card-body text-light">
                        <h5 class="card-title"> {{player.first_surname}} </h5>
                        <p class="card-text text-light"> {{player.second_surname}} </p>
                    </div>
                </div>
            </div>
            
        </div>
        <b-modal id="modalPlayer" ref="show-player" title="Datos del Jugador"
            :no-close-on-backdrop="true" :no-close-on-esc="true" @hidden="reset">
            <div class="card border-success soccer-field-bg">
                <img :src="selectedPlayer.image" 
                alt="Venados F.C." class="card-img-top ">
                <div class="mt-n3 card-body text-light text-center">
                    <h2 class="card-title"> {{selectedPlayer.first_surname}} </h2>
                    <h4 class="card-text"> {{selectedPlayer.second_surname}} </h4>
                </div>
            </div>
            <div class="text-center">
                <h5>FECHA DE NACIMIENTO</h5>
                <h6>{{new Date(selectedPlayer.birthday).toLocaleDateString() }}</h6>
                <h5>LUGAR DE NACIMIENTO</h5>
                <h6>{{selectedPlayer.birth_place }}</h6>
                <h5 v-if="selectedPlayer.weight">PESO</h5>
                <h6>{{selectedPlayer.weight }}</h6>
                <h5 v-if="selectedPlayer.height">ALTURA</h5>
                <h6>{{selectedPlayer.height }}</h6>
                <h5 v-if="selectedPlayer.last_team">EQUIPO ANTERIOR</h5>
                <h6>{{selectedPlayer.last_team }}</h6>
            </div>
            <div slot="modal-footer" class="w-100 ml-auto">                
                <b-button size="lg" class="text-center float-right" variant="success" type="button" @click="hideModal">
                    <h5 class="my-auto">OK</h5>
                </b-button>
            </div>        
            <div slot="modal-footer" class="w-100"></div>
        </b-modal>
    </div>
</template>

<script>
    import VenadosService from '../services/venados.service';

    const venadosService = new VenadosService();
    export default {
        name: 'Team',
        data() {
            return {
                players: [],
                selectedPlayer: {}
            };
        },
        async created() {
            await this.Load();
        },
        methods: {
            async Load() {
                this.players = [];
                const res = await venadosService.Players();
                for (const key in res.data.team) {
                    const group = res.data.team[ key ];
                    for (const player of group) {
                        this.players.push(player)
                    }
                }
            },

            getPlayer(imageString) {
                this.selectedPlayer = this.players.find(player => player.image == imageString);
                this.showModal();
            },

            reset() {
                this.selectedPlayer = {};
            },
            showModal() {
                this.$refs[ 'show-player' ].show();
            },
            hideModal() {
                this.$refs[ 'show-player' ].hide();
                this.reset();
            },
        }
    }
</script>